*{
    margin: 0;
    padding: 0;
}

.pagina-home{
    background-color: #EFEFE8;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr;
    grid-template-areas: "nav nav" "tekst foto-hooft";
    grid-gap: 1em;
}

nav{
    background-color: #5A4632;
    padding: 1.5%;
    position: fixed;
    width: 100%;
    grid-area: nav;
}

ul{
    list-style-type: none;
}

li{
    display: inline;
    margin: 8%;
}

li a{
    text-align: center;
    text-decoration: none;
    color: #EFEFE8;
    font-size: 1.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.bezig-pagina{
    color: black;
}

.tekst{
    margin-left: 3.5em;
    margin-right: 1em;
    margin-top: 4em;
    grid-area: tekst;
}

p{
    font-size: 1.2em;
    margin-bottom: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.foto-hooft{
    width: 400px;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    grid-area: foto-hooft;
}

img{
    margin-top: 4em;
    width: 350px;
    margin-left: 1em;
}

.foto-tekst-midden{
    border: #EFEFE8;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-style: solid;

}

.foto-tekst-midden img{
    display: block;
    margin: auto;
}

.foto-tekst-midden p{
    text-align: center;
    font-style: oblique;
}

.foto-tekst-midden-boven img{
    display: block;
    margin: auto;
}

.foto-tekst-midden-boven p{
    text-align: center;
    font-style: oblique;
}

.foto-tekst-midden-beneden{
    border: #EFEFE8;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-style: solid;
}

.foto-tekst-midden-beneden img{
    display: block;
    margin: auto;
}

.foto-tekst-midden-beneden p{
    text-align: center;
    font-style: oblique;
}

.foto-tekst-midden-top{
    border: #EFEFE8;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-style: solid;
    margin-top: 5em;

}

.foto-tekst-midden-top img{
    display: block;
    margin: auto;
}

.foto-tekst-midden-top p{
    text-align: center;
    font-style: oblique;
}

.pagina-fotos{
    background-color: gray;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr;
    grid-template-areas: "nav nav" "tekst foto-hooft";
    grid-gap: 1em;
}

.pagina-fotos-bruin{
    background-color: #5A4632;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr;
    grid-template-areas: "nav nav" "tekst foto-hooft";
    grid-gap: 1em;
}

.tekst-wit{
    color: white;
}

.bruin{
    background-color: #4869A2;
    padding: 1.5%;
    position: fixed;
    width: 100%;
    grid-area: nav;
}

.pagina-contact{
    background-color: #EFEFE8;
}

.contact{
    padding-top: 5em;
    padding-left: 2em;
}


@media only screen and (max-width: 800px) {
    .pagina-home , .pagina-fotos{
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 3fr 3fr;
        grid-template-areas: "nav" "tekst" "foto-hooft";
    }
}